:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark; */
  /* color: rgba(255, 255, 255, 0.87); */
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.dictionary-app {
  padding: 16px;
  width: 100%;
  max-width: 600px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.dictionary-app__header {
  border: none;
  background: none;
  width: 100%;
  font-size: 28px;
  font-style: bold;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding: 16px;
  border-radius: 16px;
  background-color: #eee;
  gap: 8px;
}

.form__title {
  padding: 0;
  margin: 0;
}

.form-field {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-field__label {
  border: none;
  background: none;
  width: 100%;
  font-size: 16px;
}

.form-field__input {
  border: none;
  border-radius: 8px;
  font-size: 16px;
  padding: 8px; 
}

.form-button {
  cursor: pointer;
  width: 100%;
  border: none;
  background-color: #3d3bff;
  color: #fff;
  border-radius: 8px;
  font-size: 16px;
  padding: 8px;
}
